root = true

[*]
indent_style = tab
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
spaces_around_brackets = both
ij_coffeescript_spaces_within_object_literal_braces = true
end_of_line = lf
# editorconfig-tools is unable to ignore longs strings or urls
max_line_length = 128


[*.yml]
indent_style = space

[Dockerfile]
indent_style = space
